<app-page-container>
  <h1>
    Contact
  </h1>
  <p>
    You can reach me at tsfiddle@bersling2.33mail.com. My name is Daniel.
  </p>
  <h1>
    Code
  </h1>
  <p>
    Find the code on github: <a href="https://github.com/tsmean/tsfiddle">https://github.com/tsmean/tsfiddle</a>.
  </p>
  <h1>
    Terms of Use
  </h1>
  <ul>
    <li>
      No warrenty whatsoever.
    </li>
    <li>
      Once you hit save on a fiddle, you cannot remove it anymore.
    </li>
    <li>
      All fiddles are public.
    </li>
  </ul>
</app-page-container>