$navbar-height: 70px;

.page-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    .about {
        font-size: 9px;
        .about-link {
            padding: 5px;
        }
    }
    .navbar {
        flex-basis: $navbar-height;
        flex-shrink: 0;
        flex-grow: 0;
        display: flex;
        background: #1f1f1f;
        padding: 15px;
        justify-content: space-between;
        .navbar-right {
            display: flex;
            button {
                margin-right: 20px;
                &.last-button {
                    margin-right: 0;
                }
            }
        }
    }
    .editor-and-output-wrapper {
        display: flex;
        .editor-wrapper {
            flex-basis: 60%;
            flex-shrink: 0;
            flex-grow: 1;
            background: #1e1e1e;
            height: calc(100vh - #{$navbar-height});
            color: white;
            font-family: monospace;
            display: flex;
            flex-direction: column;
            font-size: 13px;
            .predefined {
                padding: 15px 0 10px 60px;
                color: #FBBD3F;
            }
            .editor {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                height: 100%;
                .monaco-editor {
                    height: calc(100% - 20px); // why do i need - 20px?
                  }
            }
        }
        .output-wrapper {
            background: #0c0c0c;
            color: #eee;
            flex-basis: 40%;
            flex-shrink: 0;
            flex-grow: 1;
            padding: 20px;
            font-family: monospace;
            .frame {
                width: 100%;
                height: 100%;
            }
        }
    }
}
.compilation-error {
    color: red;
}
