<div class="page-wrapper">
  <div class="navbar">
    <!-- <button class="primary">SAVE</button> -->
    <button class="last-button primary"
            (click)="runCode()">RUN</button>
  </div>
  <div class="editor-and-output-wrapper">
    <div class="editor-wrapper">
      <div class="predefined">// use
        <code>log</code> instead of
        <code>console.log</code>
      </div>
      <textarea autofocus
                [(ngModel)]="input"
                class="editor"></textarea>
    </div>
    <div class="output-wrapper">
      <div style="padding-bottom: 5px">Output:</div>
      <spinner *ngIf="loading"
               color="primary"></spinner>
      <div class="compilation-error"
           *ngIf="compilationError">
        {{compilationError}}
      </div>
      <div class="no-outout"
           *ngIf="noOutput">
        (there was no output)
      </div>
      <div id="output" #output>

      </div>
    </div>
  </div>
</div>